@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container> * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: blue;
}

.navbar {
  grid-area: navbar;
  background-color: rgb(0, 140, 255);
}

.main {
  grid-area: main;
  background-color: rgb(0, 217, 255);
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(0, 255, 170);
}

.footer {
  grid-area: footer;
  background-color: rgb(9, 255, 0);
}


.grid-container {
  display: grid;
  gap: 10px;
  grid-template: 
  "header" 150px 
  "navbar" 100px
  "main" auto
  "sidebar" 100px
  "footer" 100px ;
}

@media (min-width: 900px){
.grid-container {
  display: grid;
  gap: 10px;
  grid-template: 
  "header header header" 150px 
  "navbar navbar navbar" 100px
  "sidebar main main" auto
  "footer footer footer" 100px /400px auto auto;
}
}

@media (min-width: 1400px){
.grid-container {
  display: grid;
  gap: 10px;
  grid-template: 
  "header header header" 100px 
  "navbar main sidebar" auto
  "footer footer footer" 100px /200px auto 200px;
}
}
