@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container>* {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: blue;
}

.navbar {
  grid-area: navbar;
  background-color: rgb(0, 140, 255);
}

.box1 {
  grid-area: box1;
  background-color: rgb(0, 217, 255);
}

.box2 {
  grid-area: box2;
  background-color: rgb(0, 217, 255);
}

.box3 {
  grid-area: box3;
  background-color: rgb(0, 217, 255);
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(0, 255, 170);
}

.footer {
  grid-area: footer;
  background-color: rgb(9, 255, 0);
}

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template:
      "header" 150px 
      "box1" 300px
      "navbar" 100px
      "sidebar" 100px
      "footer" 100px;
  }
}

@media (min-width: 768px) {
  @media (max-width: 992px) {
    .grid-container {
      display: grid;
      gap: 10px;
      grid-template:
        "header header header" 150px 
        "box1 box1 box1" 300px
        "navbar sidebar sidebar" 100px
        "footer footer footer" 100px;
    }
  }
}

@media (min-width: 992px) {
  @media (max-width: 1200px) {
    .grid-container {
      display: grid;
      gap: 10px;
      grid-template:
      "header header header header header"
      "navbar box1 box1 box1 box1" 300px
      "sidebar box1 box1 box1 box1"
      "footer footer footer footer footer";
    }
  }
}

@media (min-width: 1200px) {
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template:
      "header header header header header"
      "navbar box1 box1 box1 box1" 300px
      "sidebar box1 box1 box1 box1"
      "footer footer footer footer footer";
  }
}